.footer {
  background-color: $footer-bg;
  padding: 3rem 0 1rem 0;
  color: $white;
  text-align: center;
}
.footer .social-icon {
  margin: 0 5px;
  padding: 0;
}
.footer .social-icon svg {
  width: 40px;
  height: 40px;
}
.footer a {
  font-weight: 700;
  color: $white;
}